.doctor-card {
    min-height: convert-to-rem(552px);
    padding: convert-to-rem(10px);
    border-radius: convert-to-rem(20px);
    background: var(--color-gray-light, #f0f0f0);

    &__image-wrapper {
        position: relative;
        height: convert-to-rem(466px);
        border-radius: convert-to-rem(20px);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    &__image-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        picture,
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }

    &__badges {
        position: relative;
        margin-left: convert-to-rem(8px);
        margin-bottom: convert-to-rem(6px);
        display: flex;
        flex-direction: column;
        gap: convert-to-rem(10px);
        z-index: 3;
    }

    &__badge {
        border-radius: convert-to-rem(10px);
        border: 1px solid var(--color-white);
        padding: convert-to-rem(10px) convert-to-rem(15px);
        background: rgba(247, 247, 247, 0.7);
        backdrop-filter: blur(20px);
        box-shadow: 0 convert-to-rem(4px) convert-to-rem(50px) 0 rgba(255, 255, 255, 0.25);

        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: convert-to-rem(4px);
        box-shadow: 0 convert-to-rem(2px) convert-to-rem(8px) rgba(0, 0, 0, 0.05);

        @include mobile {
            &--category {
                flex-direction: column;
                align-items: flex-start;
                gap: 0;
            }
        }
    }

    &__badge-value {
        @include typography($font-family-base, $fw-semibold, (13px, 14px), 20px);
        color: var(--color-text-dark);
    }

    &__badge-label {
        @include typography($font-family-base, $fw-regular, (13px, 14px), 20px);
        color: var(--color-text-dark);
    }

    &__overlay {
        position: relative;
        width: calc(100% - #{convert-to-rem(16px)});
        margin: 0 convert-to-rem(8px);
        background: rgba(247, 247, 247, 0.7);
        backdrop-filter: blur(20px);
        box-shadow: 0 convert-to-rem(4px) convert-to-rem(50px) 0 rgba(255, 255, 255, 0.25);
        border-radius: convert-to-rem(16px);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: convert-to-rem(12.5px) convert-to-rem(10px);
        z-index: 4;

        @include mobile {
            width: calc(100% - #{convert-to-rem(20px)});
            margin: 0 convert-to-rem(10px);
        }
    }

    &__content {
        color: var(--color-text-dark);
        letter-spacing: 0;
    }

    &__title {
        @include typography($font-family-base, $fw-medium, (14px, 17px), (20px, 20px));
        margin-bottom: convert-to-rem(4px);
    }

    &__description {
        @include typography($font-family-base, $fw-regular, (12px, 14px), (20px, 20px));

        p {
            @include typography($font-family-base, $fw-regular, (12px, 14px), (20px, 20px));
            margin: 0;
        }

        strong {
            font-weight: $fw-semibold;
        }
    }

    &__footer {
        margin-top: convert-to-rem(14px);
        display: flex;
        justify-content: center;
    }

    &__button {
        display: flex;
        align-items: center;
        width: 100%;
        gap: convert-to-rem(10px);

        &.btn--primary:not(.btn--no-icon) {
            background: transparent;
            padding: 0;

            .btn__text {
                background: transparent;
                border: 1px solid var(--color-primary);
                color: var(--color-text-dark);
                flex: 1;
                padding: convert-to-rem(17px) 0;
                text-align: center;
                transition: all 0.3s ease;
                border-radius: convert-to-rem(32px);
                width: 100%;

                @include mobile {
                    padding: convert-to-rem(17px) 0;
                }
            }

            .btn__icon-wrapper {
                background-color: transparent;
                color: var(--color-primary);
                border: 1px solid var(--color-primary);
                width: convert-to-rem(52px);
                height: convert-to-rem(52px);
                min-width: convert-to-rem(52px);
                flex-shrink: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin: 0;
            }

            @include hover {
                .btn__text {
                    background: var(--color-primary);
                    color: var(--color-text-light);
                }

                .btn__icon-wrapper {
                    background-color: var(--color-primary);
                    color: var(--color-text-light);
                }
            }
        }
    }
}