.page-footer {
    background-color: var(--color-white);
    padding: convert-to-rem(27px) 0 convert-to-rem(34px) 0;
    margin-top: convert-to-rem(145px);
    text-align: center;

    @include mobile {
        margin-top: convert-to-rem(100px);
        padding: convert-to-rem(22px) 0 convert-to-rem(8.5px) 0;
    }

    &__menu {
        margin-bottom: convert-to-rem(24px);

        .footer-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: convert-to-rem(11px);
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                a {
                    display: inline-block;
                    width: fit-content;
                    height: auto;
                    padding: convert-to-rem(13.5px) convert-to-rem(30.5px);
                    border-radius: 32px;
                    background-color: var(--color-primary);
                    color: var(--color-white);
                    text-decoration: none;
                    transition: opacity 0.3s ease;

                    @include typography($font-family-heading, $fw-regular, (12px, 12px), 1);


                    &:hover {
                        opacity: 0.8;
                    }

                    @include mobile {
                        padding: convert-to-rem(11px) convert-to-rem(8px);
                    }
                }
            }
        }
    }

    &__divider {
        width: 100%;
        max-width: convert-to-rem(898px);
        height: 1px;
        background-color: var(--color-gray-1);
        margin: 0 auto convert-to-rem(24px);
    }

    &__credit {
        color: var(--color-dark-gray);

        @include typography($font-family-base, $fw-medium, (16px, 16px), 1);

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    @include mobile {


        &__menu {
            .footer-menu {
                max-width: convert-to-rem(300px);
                margin: 0 auto;

                flex-direction: row;
                flex-wrap: wrap;
                gap: convert-to-rem(5px) 0;
            }
        }

        &__divider {
            width: 90%;
        }
    }
}