// Fonts
$font-family-base: "Montserrat", sans-serif;
$font-family-heading: "Inter", sans-serif;
$font-family-involve: "Involve", sans-serif;

// Font weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

:root {
  // Gaps
  --_section-gap: #{Clamp(convert-to-rem(100px), convert-to-rem(110px))};
  --_section-offset: #{Clamp(convert-to-rem(10px), convert-to-rem(50px))};

  // Base Colors

  --color-primary: #7F419A;
  --color-primary-dark: #4C295C;
  --color-heading: #000000;
  --color-black: #000000;
  --color-text-dark: #000000;
  --color-text-light: #ffffff;
  --color-background: #ececec;
  --color-gray: #2D2D2D;
  --color-white: #ffffff;
  --color-white-light: #F5F5F5;
  --color-light-gray: #D9D9D9;
  --color-gray-2: #B6B6B6;
  --color-text-muted: #8D8D8D;


  // White opacities
  --color-white-1: rgba(232, 232, 242, 1);
  --color-white-02: rgba(255, 255, 255, 0.2);
  --color-white-15: rgba(247, 247, 247, 0.15);
  --color-white-70: rgba(122, 122, 122, 0.7);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-7: rgba(43, 43, 43, 0.7);
  --color-white-2: rgba(217, 217, 217, 0.2);
  --color-white-3: rgba(255, 255, 255, 0.2);
  --color-white-25: rgba(255, 255, 255, 0.25);
  --color-white-4: rgba(255, 255, 255, 0.4);
  --color-purple-6: rgba(67, 22, 87, 0.2);




  // --color-secondary: #2ecc71;
  // --color-accent: #e74c3c;
  // --color-background: #f4f4f4;
  // --color-text: #333333;
  // --color-border: #dddddd;
}